:root {
    --color-primary: #3861fb;
    --color-common-txt: #000;
    --color-sub-txt: #58667e;
    --color-price-up: #16c784;
    --color-price-down: #ea3943;

    --bg-box: #fff;
    --bg-body: linear-gradient(rgb(248, 250, 253) 0%, rgba(248, 250, 253, 0) 413px);
    --bg-hover: #f2f2f4;
    --bg-common: #fff;
    --bg-scrollbar: #eee;
    --bg-hover-item: #f8fafd;
    --bg-select: #eff2f5;

    --border-table: #eff2f5;
}

.dark-theme{
    --color-common-txt: #fff;
    --color-sub-txt: #a1a7bb;

    --bg-box: #292d3f; // #323546
    --bg-body: linear-gradient(rgb(34, 37, 49) 0%, rgba(34, 37, 49, 0) 413px);
    --bg-hover: #000;
    --bg-common: #17171a;
    --bg-scrollbar: #464646;
    --bg-hover-item: #222;
    --bg-select: #292d3f;

    --border-table: #2b2f3c;
}

.sortable-cell{
    cursor: pointer;
    color: var(--color-common-txt);
    span{
        position: relative;
        &:after{
            content: "" !important;
            opacity: 0;
            transition: 0.2s ease;
            position: absolute;
            top: 50%;
            right: -13px;
            transform: translateY(-50%);
            width: 8px;
            height: 10px;
            background-color: var(--color-common-txt);
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
            -webkit-mask-image: url("../images/icons/arrows-sort.svg");
            mask-image: url("../images/icons/arrows-sort.svg");
            mask-size: 6px;
                // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-arrows-sort' width='24' height='24' viewBox='0 0 24 24' stroke-width='2' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'%3E%3C/path%3E%3Cpath d='M3 9l4 -4l4 4m-4 -4v14'%3E%3C/path%3E%3Cpath d='M21 15l-4 4l-4 -4m4 4v-14'%3E%3C/path%3E%3C/svg%3E");
            // background-repeat: no-repeat;
            // background-size: 12px
        }
    }
    
    &:hover{
        span:after{
            opacity: 0.8;
        }
    }

   
    &.ascending span:after{
        opacity: 1;
        -webkit-mask-image: url("../images/icons/sort-ascending.svg");
        mask-image: url("../images/icons/sort-ascending.svg");
    }

    &.descending span:after{
        opacity: 1;
        -webkit-mask-image: url("../images/icons/sort-descending.svg");
        mask-image: url("../images/icons/sort-descending.svg");
    }
}

.sparkline{
    &.down{
        filter: hue-rotate(300deg) saturate(210%) brightness(0.7) contrast(170%);
    }
    &.up{
        filter: hue-rotate(85deg) saturate(80%) brightness(0.85);
    }
}

// Custom scrollbar
::-webkit-scrollbar {
    width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
    // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: var(--bg-scrollbar); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
// ::-webkit-scrollbar-thumb:window-inactive {
// 	background: rgba(255,0,0,0.4); 
// }


.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 100px;
    background: orange;
    color: white;
    cursor: pointer;
    border-radius: 100px;
    border: none;
    box-shadow: 0 5px 10px #ccc;
  }
  
  .back-to-top:hover {
    background: red;
  }