:root {
    // Color
    --color-primary: #3861fb;
    --color-primary-hover: #3459E7;
    --color-common-txt: #000;
    --color-sub-txt: #58667e;
    --color-price-up: #16c784;
    --color-price-down: #ea3943;

    // Background
    --bg-box: #fff;
    --bg-drawer: #fff;
    --bg-body: linear-gradient(rgb(34, 37, 49) 0%, rgba(34, 37, 49, 0) 413px);
    // linear-gradient(rgb(248, 250, 253) 0%, rgba(248, 250, 253, 0) 413px);
    --bg-hover: #f2f2f4;
    --bg-common: #fff;
    --bg-scrollbar: #eee;
    --bg-hover-item: #f8fafd;
    --bg-select: #eff2f5;
    --bg-neutral: #eff2f5;
    --bg-neutral-1: #808a9d;
    --bg-neutral-2: #a6b0c3;
    --bg-neutral-3: #cfd6e4;
    --bg-neutral-4: #eff2f5;
    --bg-neutral-5: #f8fafd;
    --bg-neutral-6: #e7e7e7;
    --bg-dropdown: #fff;
    --bg-lightblue: #e6f0ff;
    --bg-control: #e1e4e6;
    --bg-sub-btn: #ebeff2;

    //Border
    --border-table: #eff2f5;

    --shadow-normal: 0px 1px 2px rgba(128,138,157,0.12),0px 8px 32px rgba(128,138,157,0.24);
}

.dark-theme{
    // Color
    --color-common-txt: #fff;
    --color-sub-txt: #a1a7bb;

    // Background
    --bg-box: #292d3f; // #323546
    --bg-drawer: #171924;
    --bg-body: linear-gradient(rgb(34, 37, 49) 0%, rgba(34, 37, 49, 0) 413px);
    --bg-hover: #000;
    --bg-common: #17171a;
    --bg-scrollbar: #464646;
    --bg-hover-item: #222;
    --bg-select: #292d3f;
    --bg-neutral: #323546;
    --bg-neutral-1: #858ca2;
    --bg-neutral-2: #646b80;
    --bg-neutral-3: #646b80;
    --bg-neutral-4: #222531;
    --bg-neutral-5: #222531;
    --bg-neutral-6: #2f323f;
    --bg-dropdown: #222531;
    --bg-lightblue: rgba(56, 97, 251, 0.1);
    --bg-control: #323546;
    --bg-sub-btn: #272b32;

    //Border
    --border-table: #2b2f3c;

    --shadow-normal: 0px 4px 24px #171924,0px 1px 2px #171924;
}

.empty {
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sortable-cell{
    cursor: pointer;
    color: var(--color-common-txt);
    span{
        position: relative;
        &:after{
            content: "" !important;
            opacity: 0;
            transition: 0.2s ease;
            position: absolute;
            top: 50%;
            right: -13px;
            transform: translateY(-50%);
            width: 8px;
            height: 10px;
            background-color: var(--color-common-txt);
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
            -webkit-mask-image: url("../images/icons/arrows-sort.svg");
            mask-image: url("../images/icons/arrows-sort.svg");
            mask-size: 6px;
                // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-arrows-sort' width='24' height='24' viewBox='0 0 24 24' stroke-width='2' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'%3E%3C/path%3E%3Cpath d='M3 9l4 -4l4 4m-4 -4v14'%3E%3C/path%3E%3Cpath d='M21 15l-4 4l-4 -4m4 4v-14'%3E%3C/path%3E%3C/svg%3E");
            // background-repeat: no-repeat;
            // background-size: 12px
        }
    }
    
    &:hover{
        span:after{
            opacity: 0.8;
        }
    }

   
    &.ascending span:after{
        opacity: 1;
        -webkit-mask-image: url("../images/icons/sort-ascending.svg");
        mask-image: url("../images/icons/sort-ascending.svg");
    }

    &.descending span:after{
        opacity: 1;
        -webkit-mask-image: url("../images/icons/sort-descending.svg");
        mask-image: url("../images/icons/sort-descending.svg");
    }
}

.sparkline{
    &.down{
        filter: hue-rotate(300deg) saturate(210%) brightness(0.7) contrast(170%);
    }
    &.up{
        filter: hue-rotate(85deg) saturate(80%) brightness(0.85);
    }
}

// Custom scrollbar
::-webkit-scrollbar {
    width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
    // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: var(--bg-scrollbar); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
// ::-webkit-scrollbar-thumb:window-inactive {
// 	background: rgba(255,0,0,0.4); 
// }
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 100px;
    background: orange;
    color: white;
    cursor: pointer;
    border-radius: 100px;
    border: none;
    box-shadow: 0 5px 10px #ccc;
}

.back-to-top:hover {
    background: red;
}

// Full screen
:-webkit-full-screen-ancestor:not(iframe) {
    z-index: auto !important;
    position: static !important;
    opacity: 1 !important;
    -webkit-transform: none !important;
    -webkit-mask: none !important;
    clip: none !important;
    -webkit-filter: none !important;
    -webkit-transition: none !important;
    -webkit-box-reflect: none !important;
    -webkit-perspective: none !important;
    -webkit-transform-style: flat !important;
}

:root:-webkit-full-screen-document:not(:-webkit-full-screen),
:root:-webkit-full-screen-ancestor {
    overflow: hidden !important;
}

:root:-webkit-full-screen-ancestor .chart-container {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100% !important;
    z-index: 9999;
}

// :-webkit-full-screen {
//     background-color: white;
//     z-index: 2147483647 !important;
// }

// :root:-webkit-full-screen-document:not(:-webkit-full-screen), :root:-webkit-full-screen-ancestor {
//     overflow: hidden !important;
// }

// video:-webkit-full-screen, audio:-webkit-full-screen {
//     background-color: transparent !important;
//     position: static !important;
//     margin: 0 !important;
//     height: 100% !important;
//     width: 100% !important;
//     -webkit-flex: 1 !important;
//     display: block !important;
//     -webkit-transition: none !important;
// }

// :-webkit-full-screen video,
// video:-webkit-full-screen {
//     -webkit-cursor-visibility: auto-hide;
// }

// img:-webkit-full-screen {
//     width: auto;
//     height: 100%;
//     max-width: 100%;
// }

// iframe:-webkit-full-screen {
//     margin: 0 !important;
//     padding: 0 !important;
//     border: 0 !important;
//     position: fixed !important;
//     height: 100% !important;
//     width: 100% !important;
//     left: 0 !important;
//     top: 0 !important;
//     max-width: none !important;
//     max-height: none !important;
// }